main {
    grid-column: 1/4;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 10px;
}
.item{
    background-color: rebeccapurple;
}
/* tablets */
@media(min-width:720px){
    main{
        grid-template: repeat(2,1fr)/repeat(4,1fr);
    }
}
/* desktops */
@media(min-width:1200px){
    main{
        grid-template: auto/repeat(8,1fr);
    }
}